# Node.js + npm/pnpm
node_modules/
pnpm-lock.yaml

# Build output
dist/

# TypeScript
*.tsbuildinfo

# Environment variables
.env

# Logs
logs/
pnpm-debug.log*

# IDE/Editor files
.vscode/
.idea/
*.swp
*.swo

# Solidity/SC artifacts
artifacts/
cache/
build/

# OS-specific files
.DS_Store
Thumbs.db
